@font-face
{
	font-family: FuturaStdLight;
	src: url('../font/futura/FuturaStd-Book.otf')
}

.wrapper-admin
{
	margin:0px auto;
	width:810px;
	color:#aaa;
	font-family:FuturaStdLight,Verdana, Geneva, sans-serif;
}

.piechart1, .title, .piechart2
{
	margin:0px;
	float:left;
}
.piechart1
{
	font-size:22px;
}
.piechart2
{
	font-size:22px;
	float: right;
}
.title
{
	margin:10px 37px 0px;	
	text-align:center;
	color:#eee;
	font-family:FuturaStdLight,Verdana, Geneva, sans-serif;
	padding: 0 12px;
	width: 90%;
}
.t_label
{
	text-align:right;
	padding-right:20px;
	font-family:FuturaStdLight,Verdana, Geneva, sans-serif;
	line-height: 1.3em;
}
.clear
{
	clear:both;	
}
.t_value
{
	font-family:FuturaStdLight,Verdana, Geneva, sans-serif;
	font-weight:bolder;	
	padding-left:20px;
}
table.mainpage
{
	width:350px;	
	font-size:22px;
}
.content
{
	margin:0px 0 100px;
	width:400px;
	padding: 100px 0 0;
	float: left;
}
h1
{
	font-family:FuturaStdLight,Verdana, Geneva, sans-serif;
	text-align:center;
	font-weight:normal !important;
	font-size: 2.5em !important;
}
h3
{
	font-family:FuturaStdLight,Verdana, Geneva, sans-serif;
	text-align:center;	
	font-weight:normal !important;
	font-size: 1.17em !important;
}